body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logo{
  height: 50px;
}

.nav{
  display: flex;
  border-bottom: 1px solid lightgray;
  padding: 25px 40px;
  justify-content: space-between;
  align-items: center;
  /* align-items: center; */
}

.logo{
  color: red;
  height: 30px;
}

.search{
  display: flex;
  border: 2px solid lightgray;
  border-radius: 50px;
  height: 30px;
  padding: 6px 15px;
  align-items: center;
  justify-content: center;
  
}


.link{
  text-decoration: none;
  margin: 0 5px;
  border-right: 2px solid black;
  padding-right: 8px;
  color:black;
}

.links{
  display: flex;
  gap: 30px;
}

.link2{
  text-decoration: none;
  margin-right: 10px;
  color: rgba(0, 0, 0, 0.629);
}

.btn{
  border: none;
  background-color: red;
  border-radius: 50%;
  /* height: 28px; */
  color: white;
}

.home{
  text-decoration: none;
  color: black;
}

.facility{
  display: flex;
  justify-content: space-between;
  margin: 30px;
  text-decoration: none;
  text-align: center;
  
}

.f-img{
  height: 30px;
  filter: opacity(0.5);
}

.facility a{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.549);
}

.facility p{
  margin: 0;
}

.card{
  width: 270px;
  border: 1px solid white;
  border-radius: 14px;
}

.card-img{
  width: 100%;
  border-radius: 14px;
  
}

.header{
  position: relative;
}

.heart{
  position: absolute;
  top:10px;
  right: 10px;
  
} 

.container{
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
}

.total{
  display: flex;
  border: 1px solid lightgray;
  width: 360px;
  justify-content: center;
  padding: 20px 20px;
  margin-left: 41vw;
  border-radius: 14px;
  margin-bottom: 20px;
}

.total h4,p{
  margin: 0;
}

.total p{
  margin-left: 15px;
  border-left: 1px solid black;
  padding-left: 15px;
}

.price h4{
  margin: 0;
  display: inline;
  color: black;
  
}

.card h3{
  margin: 0;
}

.price p{
  display: inline;
  color: black;
}
